@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

.random-planet {
  display: flex;
  padding: 1rem;
}

.random-planet .planet-image {
  width: 160px;
  height: 160px;
  border-radius: 7px;
  margin-right: 2rem;
  box-shadow: 3px 3px 10px 1px #444141;
}

.random-planet .list-group {
  margin: .8rem 0 0 1rem;
}

.random-planet .list-group-item {
  padding: .35rem;
}

.random-planet .list-group-item .term {
  margin-right: .5rem;
}

.list-group-item {
  font-size: 1.1em;
  font-family: 'Sora', sans-serif;
}

.list-group-item > span > i {
  font-size: 1.05em;
  margin-left: 10px;
}

.jumbotron {
  border-bottom: 3px solid #5e1a13;
  transition: border .3s linear;
}

.jumbotron:hover {
  border-bottom: 4px solid #ff1900;
}
