.person-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1rem;
  border-right: 2px solid #c08019; 
  -webkit-transition: all .3s linear; 
  -o-transition: all .3s linear; 
  transition: all .3s linear;
}

.person-details .list-group {
  margin: .5rem 0 0 .5rem;
}

.person-details .person-image {
  width: 140px;
  height: 205px;
  border-radius: 7px;
  margin-right: .75rem;
  -webkit-box-shadow: 3px 3px 10px 1px #444141;
          box-shadow: 3px 3px 10px 1px #444141;
}

.person-details .list-group-item {
  padding: .3rem;
}

.person-details .list-group-item .term{
  margin-right: .5rem;
}

.person-details:hover {
  border-right: 3px solid #ffc400;
  -webkit-transform: scale(1.015, 1.015);
      -ms-transform: scale(1.015, 1.015);
          transform: scale(1.015, 1.015);
  -webkit-box-shadow: 4px 4px 30px 15px rgba(0,0,0,0.25), 
    -4px -4px 30px 15px rgba(0,0,0,0.22);
          box-shadow: 4px 4px 30px 15px rgba(0,0,0,0.25), 
    -4px -4px 30px 15px rgba(0,0,0,0.22);
}