nav {
    border-bottom: 1px solid #3498DB;
}


.fontStyle {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1;
}

.fontStyle > a {
    font-size: 2.3rem;  
    font-weight: 500;
}

.navbar-nav {
    margin-left: 20px;
}

.navbar-nav > li {
    margin-left: 20px;
}