.border-list {
    border-left: 2px solid #009772;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    cursor: pointer;
}

.border-list:hover {
    border-left: 3px solid #00ffbf;
    -webkit-transform: scale(1.015, 1.015);
        -ms-transform: scale(1.015, 1.015);
            transform: scale(1.015, 1.015);
    -webkit-box-shadow: 4px 4px 30px 15px rgba(0,0,0,0.25), 
    -4px -4px 30px 15px rgba(0,0,0,0.22);
            box-shadow: 4px 4px 30px 15px rgba(0,0,0,0.25), 
    -4px -4px 30px 15px rgba(0,0,0,0.22);
}

.list-active {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

.list-active:hover {
    background-color: #444;
}